h1 {
  font-family: 'Bungee Shade', regular;

}

h3 {
  font-family: sans-serif;
  font-size:25px;
  color: #ccc;
  text-align:justify;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Poiret One, regular;
}

.parallax1 , .parallax2 {
    height: 100%;
/* creates parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.parallax1 {
    background-image: url("https://s3.amazonaws.com/aws-website-portfolio-8feyu/Images+Copyright+2010-2018+Jen+Prizeman/IMG_7590.JPG");
}

 .parallax2 {
    background-image: url("https://s3.amazonaws.com/aws-website-portfolio-8feyu/Images+Copyright+2010-2018+Jen+Prizeman/undie+as+a+baby.jpeg");
}
/* All Images Copyright 2012-2018 Jen Prizeman, All Rights Reserved */ 
